.Btn {
    border-radius: 50px;
    padding: 3px;
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.chat {
    color: #247ba0;
}

.inp {
    color:#fff;
    position: fixed;
    bottom: 10%;
    right: 5%;
}