.Header-span {
    color: #000000;
}

.Typo-left {
    font-size: 42px;
}

.Avatar-div {
    text-align: center;

}

@media(max-width:768px) {
    .Avatar-title {
        font-size: 20px;
    }

    .side-paper {
        height: 150px !important;
        padding-bottom: 10px !important;

    }

    .side-typo {
        font-size: 15px !important;
        margin: 10px auto !important;
    }

    .side-button {
        width: 80px !important;
        font-size: 10px;
        height: auto;

    }

    .Paper-Header{
        font-size: 20px !important;
    }
}