.Header-span {
    color: #000000;
}

.Paper {
    height: 150px;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 1rem;
    background-color: #247ba0;
    border-radius: 50px;
}



    

.Typo-left {
    font-size: 42px;
}

.Avatar-div {
    text-align: center;

}

.side-button {
    margin-left: 40% !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    border: 4px solid #fff !important;
    border-radius: 30px 0 !important;
    background-color: #000000 !important;
    color: white !important;
    text-align: center;
}

.heading2{
    text-align: center;
}

@media(max-width:768px) {
    .Avatar-title {
        font-size: 20px;
    }

    .side-paper {
        height: 150px !important;
        padding-bottom: 10px !important;

    }

    .side-typo {
        font-size: 15px !important;
        margin: 10px auto !important;
    }

    .side-button {
        text-align: center !important;

        font-size: 10px;
        height: auto;
        border: 2px solid #fff !important;
        border-radius: 20px 0 !important;
        background-color: #000000 !important;
    }

    .Paper-Header {
        font-size: 20px !important;
    }
}