.About {
    background: #252627;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.About-left {
    padding: 1rem 1.5rem;
    text-align: center;


}


.About-Hl {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-left: -22px;
}

.About-Hl>small {
    color: #bb0a21;
    font-size: 28px;
}

/* About right*/

.About-Rp {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    
}

.About-right{
    margin-left: 6px;
   
}

.About-Rp>span {
    color: #bb0a21;
}

@media(max-width:960px) {

    .About {
        background: #252627;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


    }

    .About-right {
        padding-left: 3px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .About-Hl {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        margin-top: 50px;
        margin-left: 0px;
    }

    .About-Hl>small {
        color: #bb0a21;
        font-size: 25px;
    }

    .About-Rp {
        letter-spacing: 0.8px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
    }

    .pa{
        display:none;
    }

}