.Portfolio-H {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.card {

    background: #fff;
    border-radius: 10px;
    border: 2px solid black;

}






.card-title {
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
}

.card-text {
    font-size: 15px;
}