.Portfolio {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 50px;
}

.Portfolio-H {
    font-size: 40px;
    margin-top: 10px;
    font-weight: 700;
    margin-top: 50px;
}

.card {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid;
    background-color: #252627 !important;
    color: #ffffff !important;
    padding: 15px 8px;
    margin: 0 auto;
    margin-bottom: -300px;
    z-index:-1;

}

.arrow {
    position: absolute;
    margin: 0 auto;
    margin-top: 200px;

}

.arrowR {
    margin-left: 400px;

}

.arrowL {
    margin-left: 295px;

}

.btn {
    display: none !important;
}

@media(max-width:960px) {

    .arrowR {
        margin-left: 150px !important;

    }

    .arrowL {
        margin-left: 100px !important;

    }

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
    }

    .arrow {
        position: absolute;
        margin: 0 auto;
        margin-top: 350px;
        display: none;
    }

    .btn {
        display: block !important;
        margin-bottom: -300px !important;

    }

    .Portfolio{
        position: unset;
    }
}